
//offcanva as new modal

.offcanvas-right{
    position: fixed;
    top:90px;
    width: 540px;
    .cart-list::-webkit-scrollbar{
      width:3px;
      background-color:$light;
    }
    .cart-list::-webkit-scrollbar-thumb {
      background-color: $primary;
    }
  }
  
  //offcanva end.
  
  
  // nav-scroller effect
  
  .nav-scroller {
      height: 2.70rem; /* 隱藏下方捲軸 */
      overflow-y: hidden; 
      border-bottom: 1px solid $dark;
      border-top: 1px solid $dark;
  }
  .nav-scroller .nav {
      display: flex;
      flex-wrap: nowrap;
      ; /* 隱藏下方捲軸 */
      overflow-x:scroll;
      white-space: nowrap;
  }
  
  
  
    //偽元素:timeline-area
    
  
  .timeline-pointer{
    position: relative;
    &::before{
      content:"";
      position: absolute;
      left: 50%;
      top:-3px;
      bottom:12px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      border:$primary 1px solid;
      transform: translate(-50%,-25%);
      background-color: $light;
    }
    
  }
  .timeline-pointer.active{
    font-weight: bold;
    &::before{
      background-color:$primary;
    }
  }
  
  
  