.card-img{
    background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/exhibition-week6/alina-grubnyak-R84Oy89aNKs-unsplash.jpg?raw=true");
    height: 256px;
    width: auto;
    background-position: center;
    background-size: cover;
}

.ticket-info{
    height: 256px;
}
.ticket-btn{
    height:120px;
}
.ticket-banner{
    background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/exhibition-week6/max-van-den-oetelaar-IMYe9uYN27E-unsplash.jpg?raw=true");
    height: 400px;
    background-position: center;
    background-size: cover;

}
.exhibit-img{
    background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/exhibition-week6/ricardo-gomez-angel-j5gCOKZdm6I-unsplash.jpg?raw=true");
    height: 559px;
    background-position: center;
    background-size: cover;
}