.HomeBanner{
  background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/exhibition-week6/ricardo-gomez-angel-UrOZTfXT0h0-unsplash%20(1).jpg?raw=true");
  height: 480px;
  background-position:center;
  background-size: cover;

}

.ExhibitPhoto{
 height:350px;
 width: 100%;
}
.ExhibitContent{
  max-width: 540px;
}
.LiveStreamBg{
  background-image: url('https://github.com/hexschool/webLayoutTraining1st/blob/master/exhibition-week6/people2.png?raw=true');
  max-width:100%;
  background-position:center;
  background-size: cover;

}
.LiveStreamInfo{
  height: 100%;
  opacity: .95;
}
.recommendationPhoto{
  height: 350px;
  width: 100%;
}