.nav-bar-absolute{
    right:0;
}


.cart-list li:nth-child(1) h4{
    background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/exhibition-week6/alina-grubnyak-R84Oy89aNKs-unsplash.jpg?raw=true");
    width: 120px;
    height: 120px;
    background-size: cover;
    background-position: center;
}
.cart-list li:nth-child(2) h4 {
    background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/exhibition-week6/michel-catalisano--a0D9LpcKV8-unsplash.jpg?raw=true");
    width: 120px;
    height: 120px;
    background-size: cover;
    background-position: center;
}
.cart-list li:nth-child(3) h4 {
    background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/exhibition-week6/moralis-tsai-8xsktFRw28I-unsplash.jpg?raw=true");
    width: 120px;
    height: 120px;
    background-size: cover;
    background-position: center;
}


// .nav li:nth-child(1) a{ background-image: url(icon/icon_about_iw.png);}
// .nav li:nth-child(2) a{ background-image: url(icon/icon_about_ow.png);}


//swiper css (official)

.swiper-container {
    width: 100%;
    height: 100%;
  } // 這個一定要加，不然會有x軸


// size below according to the design layout
.swiper-slide img {
    width: 350px;
    height: 350px;
    object-fit: cover;
  }

  .swiper-slide {
    width: auto !important;
  }


  //swiper css end.







.FooterBanner{
    background-image:url("https://github.com/hexschool/webLayoutTraining1st/blob/master/exhibition-week6/wladislaw-peljuchno-Y_f1aHpR1tc-unsplash.jpg?raw=true");
    height: 400px;
    background-position:center;
    background-size: cover;
    .SubmitButtonGroup{
        width: 350px;
        border:0;
        .SubmitButton{
            &:focus{
                box-shadow: none;
                border:0;
            }
        }
    }
    
}
