.nav-bar-absolute{
    right:0;
}

.cart-img{
    background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/exhibition-week6/alina-grubnyak-R84Oy89aNKs-unsplash.jpg?raw=true");
    width: 120px;
    height: 120px;
    background-size: cover;
    background-position: center;
}


.FooterBanner{
    background-image:url("https://github.com/hexschool/webLayoutTraining1st/blob/master/exhibition-week6/wladislaw-peljuchno-Y_f1aHpR1tc-unsplash.jpg?raw=true");
    height: 400px;
    background-position:center;
    background-size: cover;
    .SubmitButtonGroup{
        width: 350px;
        border:0;
        .SubmitButton{
            &:focus{
                box-shadow: none;
                border:0;
            }
        }
    }
    
}
