// general setting


.font-weight-bold{
  font-weight: bold;
}
.font-weight-normal{
  font-weight: normal;
}
// 建議:使用bootstrap的通用類別 (無法成功導入?)

// .height-fixed{
//   height: 100%;
// } 移除，改用bst h-100 取代



.a-hover{
  border-bottom:1px solid transparent;
  &:hover{
    border-bottom:1px solid $primary;
  }
}

//隱藏但占空間
.visibility-hidden{
  @include media-breakpoint-up(md) {
    visibility: hidden;
}
  
}